<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Fantasy Sport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top"><h1 class="title">Quidditch For Days Son</h1></div>

<%= render partial: "layouts/menu" %>

<%= yield %>



</body>
</html>
